{% extends 'projects/layout.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}
    <div class="container">
        <br/>
        <img src="{% static 'projects/images/img01.png' %}">
        <br/>

        <h1>My Development Portfolio</h1>

        <p>This site will help you understand the skills I have and the projects I have worked on.</p>

       <a href="mailto:paul.mckillop@iwcollrgr.ac.uk" target="_blank" class="btn btn-primary">Email Me</a>

        <h1>Check out my about page</h1>
    </div>
{% endblock %}